.post-sidebar
  .form-group
    = save_button(form)
  .form-group
    = form.label :published_at, "Schedule Post"
    = form.datetime_select :published_at
  .form-group
    = form.label :slug, "Post Url"
    = form.text_field :slug, class: "form-control"