%aside.main-sidebar
  .sidebar
    %ul
      %li
        = link_to forgecms.dashboard_path, class: ("active" if controller.controller_name=="dashboard") do
          %i.fa.fa-dashboard
          %span Dashboard
      %li
        = link_to forgecms.posts_path, class: ("active" if controller.controller_name=="posts") do
          %i.fa.fa-list
          %span Posts
      %li
        = link_to '#' do
          %i.fa.fa-comment-o
          %span Comments
      %li
        = link_to '#' do
          %i.fa.fa-users
          %span Users
      %li
        = link_to '#' do
          %i.fa.fa-gear
          %span Settings